.container {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 50px;
  font-weight: 900;
  color: rgb(69, 69, 69);
  text-align: center;
}

.endpoint {
  margin-top: 20px;
  color: rgb(69, 69, 69);
  font-weight: 900;
}

.sub {
  margin: 0 auto;
  width: 80% !important;
}

.ul {
  margin-top: 10px;
  color: rgb(86, 86, 86);
  margin-left: 20px;
}
.ul li{
  margin-top: 10px;
}